
<div class="user_card">
  <h3>User informations : </h3>
    <div class="user_informations">
      <p>Username: <%= @current_user.username%> </p>
      <p>First name: <%= @current_user.first_name%> </p>
      <p>Last name: <%= @current_user.last_name%> </p>
      <p>Description: <%= @current_user.description%> </p>
      <p>Age: <%= @current_user.age%></p>
      <p>City: <%= @current_user.city.name%></p>
    </div>
</div>

<%# <p>Find me in app/views/users/show.html.erb</p> %>
