<div class="gossips_page">
  <div class="sidebar">
    <div class="sidebar_links">
      <a href="<%=new_gossip_path %>">Créér un nouveau gossip</a>
    </div>
  </div>

  <div class="gossips_display">
      <% @gossips.each do |gossip| %>
        <div class="gossips">
          <div class="display_title">
            <h3 class="big_title"><%= gossip.title %></h3>
          </div>
          <div class="content_section">
            <p class="gossip_content"><%= gossip.content %></p>
            <p class="gossip_author" href="">Written by: <%= @current_user.where(id: gossip.user_id).first.username %></p>
            <a class="date_creation"><%=gossip.created_at %></a>
          </div>
            
          <div class="gossip_link">
            <a href="<%= gossip_path(gossip.id) %>">Voir le gossip</a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


